<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>teamwork.documents</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <!--<link rel="stylesheet" href="style.css">-->
    <!--<link rel="stylesheet" href="bootstrap.css">-->
    <!--<link rel="stylesheet" href="bootstrap.min.css">-->
</head>
<body>
<p class="container Documentation">
<div class="details">
    <h4 id="Product">介绍</h4>
    <p>通用报表</p><p>
</p></div>

</body>
</html>