<html>
<head>
    <meta name="decorator" content="atl.admin" />
    <meta name="admin.active.section" content="admin_plugins_menu/work_admin_section" />
    <meta name="admin.active.tab" content="org-manage" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet"/>
    <link href="https://cdn.bootcss.com/zTree.v3/3.5.28/css/zTreeStyle/zTreeStyle.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script src="http://www.treejs.cn/v3/js/jquery.ztree.core.js?2013031101"></script>



</head>
<body >#parse( "js/teamwork_template.soy" )
<input type="hidden" id="organization-table" data-organization-id="$req.getParameter('organizationId')"/>


<section id="content" role="main">
    <div class="zTreeDemoBackground left" style="width: 200px;float: left;">
        <ul id="treeDemo" class="ztree"></ul>
    </div>
    <div style="margin-left: 220px;clear: none;margin-top: 0px;  border-left: 1px solid #ccc;">
        <div class="aui-page-panel-inner">

            <form class="aui form1">
                <div class="field-group">
                    <label>#getTextEx("workorg.property.organization.","name")</label>
                    <div class="name text"></div>
                </div>
                <div class="field-group">
                    <label>#getTextEx("workorg.property.organization.","type")</label>
                    <div class="type text"></div>
                </div>
                <div class="field-group">
                    <label>#getTextEx("workorg.property.organization.","status")</label>
                       <div class="status text"></div>
                </div>
                <div class="field-group">
                    <label>#getTextEx("workorg.property.organization.","character")</label>
                   <div class="character text"></div>


                </div>

             </form>
       </div>
    </div>
</section>
</body>
</html>