<html>
<head>
    <meta name="decorator" content="atl.admin">
    <meta name="admin.active.section" content="admin_plugins_menu/work_admin_section">
    <meta name="admin.active.tab" content="org-manage">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <link href="https://cdn.bootcss.com/zTree.v3/3.5.28/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script src="http://www.treejs.cn/v3/js/jquery.ztree.core.js?2013031101"></script>

</head>
<body>
    #parse( "js/teamwork_template.soy" )
<div class="aui-flatpack-example toolbar2-example">

    <div class="aui-toolbar2">
        <div class="aui-toolbar2-inner">
            <div class="aui-toolbar2-primary">
                <div id="button-set" class="aui-buttons">
                    <button class="aui-button edit aui-button-primary" resolved="">$i18n.getText("workorg.property.common.edit")</button>
                </div>
                <div id="button-set1" class="aui-buttons">
                    <button class="aui-button create" resolved="">$i18n.getText("workorg.property.common.create")</button>
                    <button class="aui-button delete" resolved="">$i18n.getText("workorg.property.common.delete")</button>
                </div>
            </div>
        </div>
        <!-- .aui-toolbar-inner -->
    </div>

</div>
<section id="content" role="main">
    <div class="zTreeDemoBackground left" style="width: 200px;float: left;">
        <ul id="treeDemo" class="ztree"></ul>
    </div>
    <div style="margin-left: 220px;clear: none;margin-top: 0px;    border-left: 1px solid #ccc;">
        <div class="aui-page-panel-inner">
            <form style="margin-top: 20px" class="aui form1"  >
                <input name="id" id="id" type="hidden">
                <div class="field-group">
                    <label for="comment-email">$i18n.getText("workorg.property.organization.name")
                        <span class="aui-icon icon-required">(required)</span>
                    </label>
                    <input class="text medium-field" type="text"
                           id="name" name="name" placeholder="">
                </div>
                <div class="field-group">
                    <label for="select-example">$i18n.getText("workorg.property.organization.type")</label>
                    <select class="select" id="type" name="type">
                        <option value="0">#getTextEx("workorg.property.organization.type.","company")</option>
                        <option value="1">#getTextEx("workorg.property.organization.type.","subcompany")</option>
                        <option value="2">#getTextEx("workorg.property.organization.type.","branch")</option>
                        <option value="9">#getTextEx("workorg.property.organization.type.","other")</option>
                    </select>
                </div>
                <div class="field-group">
                    <label for="select-example">$i18n.getText("workorg.property.organization.parent")</label>
                    <select class="select" id="parent" name="parent">
                    </select>
                </div>
                <div class="field-group">
                    <label for="select-example">$i18n.getText("workorg.property.organization.status")</label>
                    <select class="select" id="status" name="status">
                        <option value="0">$i18n.getText("workorg.property.common.status.valid")</option>
                        <option value="1">$i18n.getText("workorg.property.common.status.invalid")</option>
                    </select>
                </div>
                <div class="field-group">
                    <label for="select-example">$i18n.getText("workorg.property.organization.orgLevel")</label>
                    <select class="select" id="orgLevel" name="orgLevel">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
                <div class="field-group">
                    <label for="select-example">$i18n.getText("workorg.property.organization.character")</label>
                    <select class="select" id="character" name="character">
                        <option value="0">$i18n.getText("workorg.property.organization.character.generalsubsidiary")</option>
                        <option value="1">$i18n.getText("workorg.property.organization.character.independentlegal")</option>
                    </select>
                </div>
                <div class="field-group">
                    <label for="comment-input">$i18n.getText("workorg.property.organization.memo")</label>
                    <textarea class="textarea" name="memo"
                              id="memo"></textarea>
                </div>

                <div class="buttons-container">
                    <div class="buttons">
                        <input class="button" type="button" value="$i18n.getText("workorg.property.common.save")" id="org-save-button">
                    </div>
                </div>
            </form>
    <form class="aui form2" style="display: none">
        <div class="field-group">
            <label for="comment-email">$i18n.getText("workorg.property.organization.name")
                <span class="aui-icon icon-required">(required)</span>
            </label>
            <div class="name text"></div>
        </div>
        <div class="field-group">
            <label for="select-example">$i18n.getText("workorg.property.organization.type")</label>
            <div class="type text"></div>
        </div>
        <div class="field-group">
            <label for="select-example">$i18n.getText("workorg.property.organization.parent")</label>
            <div class="parent text"></div>
        </div>
        <div class="field-group">
            <label for="select-example">$i18n.getText("workorg.property.organization.status")</label>
            <div class="status text"></div>
        </div>
        <div class="field-group">
            <label for="select-example">$i18n.getText("workorg.property.organization.orgLevel")</label>
            <div class="orgLevel text"></div>
        </div>
        <div class="field-group">
            <label for="select-example">$i18n.getText("workorg.property.organization.character")</label>
            <div class="character text"></div>
        </div>
        <div class="field-group">
            <label for="comment-input">$i18n.getText("workorg.property.organization.memo")</label>
            <div class="memo text"></div>
        </div>
    </form>
        </div>
    </div>
</section>
</body>
</html>