.tree1{
background-image: url(tree.files/142.png);
    background-repeat: no-repeat;
    margin:0 auto;
    width:630px;
}


.tree2{
background-image: url(tree.files/401.png);
    background-repeat: no-repeat;
    margin:0 auto;
    width:630px;
}

.tree3{
background-image: url(tree.files/715.png);
    background-repeat: no-repeat;
     margin:0 auto;
        width:630px;
}
.tree4{
    background-image: url(tree.files/849.png);
    background-repeat: no-repeat;
    margin:0 auto;
    width:630px;
}

.report1{
    background-image: url(Systemreport/145.png);
        background-repeat: no-repeat;
        margin:0 auto;
        width:630px;
}

.report2{
    background-image: url(Systemreport/529.png);
        background-repeat: no-repeat;
        margin:0 auto;
        width:630px;
}

.report3{
    background-image: url(Systemreport/581.png);
        background-repeat: no-repeat;
        margin:0 auto;
        width:630px;
}

.report4{
    background-image: url(Systemreport/639.png);
        background-repeat: no-repeat;
        margin:0 auto;
        width:630px;
}

.report5{
    background-image: url(Systemreport/686.png);
        background-repeat: no-repeat;
        margin:0 auto;
        width:630px;
}

.report6{
    background-image: url(Systemreport/740.png);
        background-repeat: no-repeat;
        margin:0 auto;
        width:630px;
}

.img1{
  background-image: url(5.files/5424.png);
        background-repeat: no-repeat;
        margin:0 auto;
        width:630px;
}

.img2{
 background-image: url(5.files/5954.png);
        background-repeat: no-repeat;
        margin:0 auto;
        width:630px;

}